# Node.js dependencies
node_modules/

# ncc build output
dist/
package-lock.json

# Local file Mac
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm/

# dotenv environment variables file
.env